<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Online shopping CART</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add to cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Buy</a>
              </li>
              <li class="nav-item">
                <a href="#" class="btn btn-primary">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35390255.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35390255.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35390255.jpg" class="d-block w-100" alt="...">
                      </div>
                    
                    </div>
                  </div>

                  <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/10456354/2019/8/22/d56e75f6-f1a7-4fdd-b430-51befb36f88d1566454760527-Campus-Sutra-Men-Colourblocked-Casual-Spread-Shirt-290156645-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Shirt</h5>
                              <p class="card-text"> Rs.680</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">


                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/productimage/2019/12/12/1aab2a18-6774-4f83-b292-fe301755a3351576102551329-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tshirt</h5>
                              <p class="card-text"> Rs.565</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/7096655/2018/12/18/a2cda294-2c64-4a19-9ec1-f1a6efa76cca1545112307613-Mast--Harbour-Men-Olive-Green-Solid-Sweatshirt-8151545112306-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sweatshirt</h5>
                              <p class="card-text"> Rs.750</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/14453154/2021/11/3/6ff5cb2d-50b1-4e61-b1fe-249b1e6d4b5b1635945282977-Mr-Bowerbird-Men-Sweatshirts-71635945282478-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Hoodies</h5>
                              <p class="card-text"> Rs.895</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">


                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/6832202/2022/2/22/c76c4342-4777-48ee-a72c-5496dcb3988b1645509675836-WROGN-Men-Charcoal-Grey-Solid-Bomber-4691645509675159-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"> Jacket</h5>
                              <p class="card-text"> Rs.1225</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://www.pinkvilla.com/files/styles/large/public/cargo_joggers_for_men_3.jpg?itok=W6dKVFsw" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Joggers</h5>
                              <p class="card-text"> Rs.1135</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/8275705/2019/4/4/61803977-31d1-4825-bb47-c9e10e9c0a971554381371704-Roadster-Men-Black-Slim-Fit-Mid-Rise-Clean-Look-Stretchable--1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Black Jeans</h5>
                              <p class="card-text"> Rs.725</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                        <div class="card">
                            <img src="https://cdn.shopify.com/s/files/1/0266/6276/4597/products/300902802DKBLUE_2_1024x1024.jpg?v=1658489751" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blue jeans</h5>
                              <p class="card-text"> Rs.625</p>
                              <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                              <a href="buy.html" class="btn btn-primary">Buy</a>
                            </div>
                          </div>

                    </div>

                   


                  


                    


                    

                  </div>


            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>