<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/86/94/interior-background-of-women-clothing-store-vector-22588694.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/86/94/interior-background-of-women-clothing-store-vector-22588694.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn5.vectorstock.com/i/1000x1000/86/94/interior-background-of-women-clothing-store-vector-22588694.jpg" class="d-block w-100" alt="...">
                  </div>
                
                </div>
              </div>

              <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/20096940/2022/9/20/f6d18562-91e6-4f37-9b3d-fc67a91684fc1663684154284Shirts1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shirt</h5>
                          <p class="card-text"> Rs.680</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">


                    <div class="card">
                        <img src="https://i.pinimg.com/originals/d9/c1/14/d9c114dee031f0dfa555f55c27fe20e2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Salwar</h5>
                          <p class="card-text"> Rs.565</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfHXWorO-Mo2wziBdKSwi0H6h0jMl5ATaG1w&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Top</h5>
                          <p class="card-text"> Rs.750</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/7778519/2018/12/8/e05ccf55-31db-4f56-8fff-95873c871d8d1544262057624-Roadster-Women-Olive-Green-Solid-Hooded-Sweatshirt-471154426-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hoodies</h5>
                          <p class="card-text"> Rs.895</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">


                    <div class="card">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/12178110/2020/9/15/32a696c1-e454-46bd-ab81-2705423e363e1600147562895-Roadster-Women-Jackets-2251600147560316-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Jacket</h5>
                          <p class="card-text"> Rs.1225</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19677300/2022/8/27/501b1110-fd4f-4a53-86b0-d98bbb25f9c81661579838798Oversizedjoggers1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Joggers</h5>
                          <p class="card-text"> Rs.1135</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/9552603/2022/5/20/a5b42476-d64a-49a4-a95c-54853b8148981653026711165-SASSAFRAS-Women-Black-Slim-Fit-Mid-Rise-Clean-Look-Stretchab-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Black Jeans</h5>
                          <p class="card-text"> Rs.725</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="https://cdn.cliqueinc.com/posts/277393/straight-leg-jeans-277393-1661576102507-main.700x0c.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Blue jeans</h5>
                          <p class="card-text"> Rs.625</p>
                          <a href="addtocart.html" class="btn btn-primary">Add to cart</a>
                          <a href="buy.html" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>

               


              


                


                

              </div>


        </div>
    </div>
</div>